.side-edit-drawer {
    /* In commentaries are the way to make it slide from left to right */
    position: absolute;
    /* height: 920px; */
    height: 95vh;
    background: white;
    top: 79px;
    right: 0;
    /* right: 100%; */
    width: 30%;
    z-index: 200;
    /* box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); */
    transform: translateX(100%);
    /* transform: translateX(0%); */
    transition: transform 0.6s ease-out;
    overflow: hidden;
}

.side-edit-drawer.open {
    transform: translateX(0);
    /* transform: translateX(100%); */
}


.backdrop {
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    top: 79px;
    right: 0;
}

.drawer-background {
    width: 100%;
    height: 60%;
}

.sidedrawer-heading {
    position: absolute;
    top: 20px;
    left: 28px;
    font-size: 20px;
    color: #fff;
}

.profile-cross {
    position: absolute;
    top: 20px;
    right: 28px;
    width: 32px;
    height: 32px;
    opacity: 0.2;

    background-color: #fff;
}

.profile-img-cross {
    position: absolute;
    top: 20px;
    right: 28px;

}

.sample-edit-profile {
    position: absolute;
    top: 19px;
    right: 28px;
    width: 32px;
    height: 32px;
    padding-left: 5px;
    border-radius: 50%;
    align-items: center;
    opacity: 1.2;
    background-color:grey;

}

.sample-pro-img {
    width: 21px;
    height: 21px;
    margin-top: 5px;
    position:absolute;
}

.profile-image-edit {
    position: absolute;
    width: 100%;
    text-align: center;
    /* right: 35%; */
    top: 18%;
}

.sidedrawer-bottom {
    position: absolute;
    top: 53%;
    width: 100%;
    height: 100px; 
    box-shadow: 0 0 10px 0  rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8%;
}

.edit-form {
    position: absolute;
    top: 30%;
    height: 1000px;
    width: 100%;

}

.edit-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.add-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.image-button {
    width: 35px;
    height: 30px;
    position: absolute;
    border-style: hidden;
    background-color: transparent;
    top: 65%;
    right: 40%;
}

.edit-profile-fields {
    width: 70%;
    height: 60px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: solid 1px #bbb;
    background-color: #fff;
}

.edit-profile-fields-error {
    width: 70%;
    height: 60px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: solid 1px #ed202a;
    background-color: #feeaeb;
}

.edit-form-fields {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-fields-form{
    width: 75%;
    border-style: hidden;
    position: absolute;
    top: 70%;
    margin-top: -2%;
}


.input-fields-form-error{
    width: 75%;
    border-style: hidden;
    position: absolute;
    top: 70%;
    margin-top: -2%;
    background-color: #feeaeb;
}

.legend-terms{
    font-family: Outfit;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.19px;
    color: #999;
}

.legend-terms-error {
    font-family: Outfit;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.19px;
    color: #ed202a;
}

.field-input-area{
    width: 70%;
    height: 150px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: solid 1px #bbb;
    background-color: #fff;
}

.field-input-area-error{
    width: 70%;
    height: 150px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: solid 1px #ed202a;
    background-color: #feeaeb;
}

.input-field-form-address{
    width: 75%;
    height: 100px;
    border: none;
    outline: none;
}

.input-field-form-address-error{
    width: 75%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #feeaeb;
}


.cancel-edit-profile{
    width: 152px;
    height: 44px;
    margin: 0 16px 0 0;
    padding: 13px 50px 11px 52px;
    border-radius: 8px;
    border: solid 1px #00c0f5;
    background-color: #fff;
}

.save-edit-profile{
    width: 152px;
    height: 44px;
    margin: 0 0 0 16px;
    padding: 13px 58px 11px;
    border-radius: 8px;
    background-color: #00c0f5;
    border-style: hidden;
  }

.cancel-edit{
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00c0f5;
}

.edit-pro-save{
  font-family: Outfit;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.edit-profile-yup {
    color: red;
    font-size: 11px;
    margin-top: 0;
    margin-left: -43%;
    text-align: left;
}

.edit-profile-toaster{
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    margin: 0 0 14px;
    padding-top: 18px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background-color: #4eb04e;
    color: #fff;
    display: flex;
    justify-content: space-around;
} 


.edit-profile-toaster-red{
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    margin: 0 0 14px;
    padding-top: 18px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background-color:#db1709;
    color: #fff;
    display: flex;
    justify-content: space-around;
} 

.edit-profile-header{
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    margin: 0 0 14px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);

}

.check-image-edit {
    margin-left: 40%;
    height: auto;
}